@tailwind base;
@tailwind components;
@tailwind utilities;
/* Basic styles for buttons and inputs */
.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .form-control {
    margin-bottom: 15px;
  }
  